extends ./layout
block body
    div(style="width: 300px").center-block
        h1 Boxscore
        form(method="post", action="/boxscore").form-horizontal
            div.form-group
                label(for="season") Season
                input(type="text", name="season", value="2016-2017-regular").form-control
            div.form-group
                label(for="gameId") Game ID
                input(type="text", name="gameId", placeholder="20170101-ORL-IND").form-control
                | (i.e. {date}-{away team abbv}-{home team abbv})
            div.form-group
                label(for="quarter") Quarter
                input(type="text", name="quarter").form-control
            div.form-group
                label(for="minutes") Minutes
                input(type="text", name="minutes").form-control
            div.form-group
                label(for="seconds") Seconds
                input(type="text", name="seconds").form-control
            div.form-group
                button(type="submit").btn.btn-primary Submit